* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffd6e7, #fff5f8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
}

h1 {
    color: #ff4f8b;
    font-size: 3rem;
    margin-bottom: 10px;
}

.subtitle {
    color: #777;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.card h2 {
    color: #ff4f8b;
    margin-bottom: 15px;
}

#quote {
    color: #555;
    margin-bottom: 20px;
    font-style: italic;
}

button {
    background: #ff7ca8;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff4f8b;
    transform: scale(1.05);
}
.habits {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
    margin-top: 10px;
}

.habits label {
    font-size: 16px;
    color: #444;
    cursor: pointer;
}

.habits input {
    margin-right: 10px;
    transform: scale(1.2);
}

.small-text {
    margin-top: 15px;
    font-size: 12px;
    color: #999;
}
